/* services section css */
.servicesText.card {
    height: 10rem;
    cursor: pointer;
  }
  
.card-title {
    text-align: center;
}
.card:hover .servicesIcon {
    color: #008000;
}
.servicesText:hover {
    border: 1px solid #008000;
}